:root {
    --cor-primaria: #5B88A5;
    --cor-secundaria: #FFFFFF;
    --cor-terciaria: #2148C0;
}

body {
    background-color: var(--cor-primaria);
    font-family: "Montserrat", sans-serif;
}

.container{
    width: 80%;
}

.titulo {
    color: var(--cor-secundaria);
    font-size: 1.7rem;
}

.formulario {
    color: var(--cor-secundaria);
    font-size: .9rem;
}

.campo label {
    margin-bottom: 0;
}

.campo input {
    background-color: transparent;
    padding: .5rem;
    margin-bottom: 15px;
}

.campo input::placeholder {
    color: var(--cor-secundaria);
    opacity: .3;
    font-size: .8rem;
}

.botao {
    padding: .6rem;
    background-color: var(--cor-secundaria);
    color: var(--cor-terciaria);
    font-weight: 900;
    border: none;
    box-shadow: 3px 4px 25px #000;
}

.botao:hover {
    background-color: var(--cor-terciaria);
    border: 1px solid var(--cor-secundaria)

}


